:root {
    /* Primary Colors */
    --clr-dark-cyan: 158 36% 37%;
    --clr-cream: 30 38% 92%;

    /* Neutral Colors */
    --clr-very-dark-blue: 212 21% 14%;
    --clr-dark-grayish-blue: 228 12% 48%;
    --clr-white: 0 0% 100%;

    /* Fonts */
    --ff-fraunces: 'Fraunces', serif;
    --ff-montserrat: 'Montserrat', sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html,
body {
    height: 100%;
    background-color: hsl(var(--clr-cream));
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
    max-height: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
    font-family: var(--ff-montserrat);
    color: hsl(var(--clr-dark-grayish-blue));
    font-size: 0.875rem;
}

.product-card {
    justify-content: center;
    align-items: center;
    background-color: hsl(var(--clr-white));
    border-radius: 0.5rem;
    margin: 1rem;
}

.product-image img {
    border-radius: 0.5rem 0.5rem 0 0;
}

.product-info {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.product-heading {
    text-transform: uppercase;
    letter-spacing: 0.3rem;
}

.product-name {
    font-family: var(--ff-fraunces);
    color: hsl(var(--clr-very-dark-blue));
    line-height: 100%;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    padding-right: 2rem;
    font-size: 1.75rem;
}

.product-text {
    padding-bottom: 1rem;
}

.sale-price {
    font-family: var(--ff-fraunces);
    color: hsl(var(--clr-dark-cyan));
    font-size: 2rem;
}

.old-price {
    text-decoration: line-through;
    font-size: 0.8rem;
}

.price-holder {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 1rem;
}

.button-holder {
    font-family: var(--ff-montserrat);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(var(--clr-dark-cyan));
    color: hsl(var(--clr-white));
    border: none;
    border-radius: 0.5rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    font-size: 0.75rem;
    font-weight: 700;
    margin: 1rem 0;
    gap: 1rem;
    cursor: pointer;
}

.button-holder:hover {
    background-color: hsl(var(--clr-very-dark-blue));
}

@media screen and (min-width: 600px) {
    .product-card {
        display: flex;
        margin: auto;
        max-width: 37.5rem;
        height: 100%;
        max-height: 31.25rem;
    }

    .product-image {
        width: 50%;
    }

    .product-image img {
        border-radius: 0.5rem 0 0 0.5rem;
    }

    .product-info {
        margin: 1rem 2rem 1rem 2rem;
        height: auto;
        width: 50%;
    }
}

footer {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
}


footer p {
    font-size: 0.6875rem;
    text-align: center;
    color: hsl(var(---clr-dark-cyan));
}


footer a {
    color: hsl(var(--clr-very-dark-blue))
}


.typing-text {
    width: 47ch;
    animation: typing 3500ms steps(47), blink 500ms step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
}

@keyframes typing {
    from {
        width: 0
    }
}

@keyframes blink {
    50% {
        border-color: transparent
    }
}
